apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      imagePullSecrets:
        - name: regcred
      # 1️⃣ KHAI BÁO VOLUME (Thêm đoạn này)
      volumes:
        - name: uploads-storage
          persistentVolumeClaim:
            claimName: candidate-uploads-pvc # Phải trùng tên với file pvc ở Bước 2
      containers:
        - name: backend
          image: asia-southeast1-docker.pkg.dev/jobquest-ptud-hai-481413/jobquest-repo/backend:7cd3ed1f16035e137e9d600849f57cd7e8c7734d
          ports:
            - containerPort: 8080
          # 2️⃣ GẮN VOLUME VÀO CONTAINER (Thêm đoạn này)
          volumeMounts:
            - name: uploads-storage
              mountPath: /app/uploads # Khớp với code Java: Paths.get("uploads")
          env:
            - name: PORT
              value: "8080"

            - name: SPRING_DATA_MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: jobquest-secret
                  key: SPRING_DATA_MONGODB_URI

            - name: AUTH0_DOMAIN
              valueFrom:
                secretKeyRef:
                  name: jobquest-secret
                  key: AUTH0_DOMAIN

            - name: AUTH0_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: jobquest-secret
                  key: AUTH0_CLIENT_ID

            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jobquest-secret
                  key: JWT_SECRET

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - port: 8080
      targetPort: 8080


