apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: backend
          image: asia-southeast1-docker.pkg.dev/jobquest-ptud-hai/jobquest-repo/backend:fa4cc09742e2d3cfa27d9b1f070fbb0486f87d7c
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"

            - name: SPRING_DATA_MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: jobquest-secret
                  key: SPRING_DATA_MONGODB_URI

            - name: AUTH0_DOMAIN
              valueFrom:
                secretKeyRef:
                  name: jobquest-secret
                  key: AUTH0_DOMAIN

            - name: AUTH0_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: jobquest-secret
                  key: AUTH0_CLIENT_ID

            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jobquest-secret
                  key: JWT_SECRET

---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - port: 8080
      targetPort: 8080
