name: Update Manifest & Deploy

# Trigger: repository_dispatch từ backend/frontend repo
on:
  repository_dispatch:
    types: [update-deploy]

jobs:
  deploy:
    # Tránh loop vô hạn
    if: github.actor != 'github-actions[bot]'
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout manifest repo (workflow nằm trong chính repo này)
      - name: Checkout manifest repo
        uses: actions/checkout@v3

      # 2️⃣ Configure git
      - name: Configure git
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

      # 3️⃣ Update backend image tag
      - name: Update backend image tag
        run: |
          sed -i 's|image: .*backend:.*|image: asia-southeast1-docker.pkg.dev/jobquest-ptud-hai/jobquest-repo/backend:${{ github.event.client_payload.backend_tag }}|' k8s/backend.yaml

      # 4️⃣ Update frontend image tag
      - name: Update frontend image tag
        run: |
          sed -i 's|image: .*frontend:.*|image: asia-southeast1-docker.pkg.dev/jobquest-ptud-hai/jobquest-repo/frontend:${{ github.event.client_payload.frontend_tag }}|' k8s/frontend.yaml

      # 5️⃣ Commit & push changes
      - name: Commit & push changes
        run: |
          git add .
          git diff --quiet && echo "No changes to commit" || git commit -m "Update image tags"
          git push
      # git commit -m "Update image tags" --allow-empty

      # 6️⃣ Sync Argo CD
      - name: Argo CD sync
        env:
          ARGOCD_SERVER: ${{ secrets.ARGOCD_SERVER }}
          ARGOCD_TOKEN: ${{ secrets.ARGOCD_TOKEN }}
        run: |
          argocd login $ARGOCD_SERVER --token $ARGOCD_TOKEN --insecure --grpc-web
          argocd app sync my-app
