name: Update Manifest & Deploy
# test ci cd
on:
  repository_dispatch:
    types: [update-deploy]

jobs:
  deploy:
    if: github.actor != 'github-actions[bot]'
    runs-on: ubuntu-latest

    steps:
      # Checkout k8s repo
      - name: Checkout repo
        uses: actions/checkout@v3

      # Configure git
      - name: Configure git
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

      # Update backend tag
      - name: Update backend image tag
        if: ${{ github.event.client_payload.backend_tag }}
        run: |
          sed -i 's|image: .*backend:.*|image: asia-southeast1-docker.pkg.dev/jobquest-ptud-hai/jobquest-repo/backend:${{ github.event.client_payload.backend_tag }}|' k8s/backend.yaml

      # Update frontend tag
      - name: Update frontend image tag
        if: ${{ github.event.client_payload.frontend_tag }}
        run: |
          sed -i 's|image: .*frontend:.*|image: asia-southeast1-docker.pkg.dev/jobquest-ptud-hai/jobquest-repo/frontend:${{ github.event.client_payload.frontend_tag }}|' k8s/frontend.yaml

      # Commit & push changes
      - name: Commit & push
        run: |
          git add .
          git diff --quiet && echo "No changes to commit" || git commit -m "Update image tags"
          git push https://lma273:${{ secrets.PAT }}@github.com/lma273/jobquest-k8s.git

      # ArgoCD sync
      - name: Argo CD sync
        env:
          ARGOCD_SERVER: ${{ secrets.ARGOCD_SERVER }}
          ARGOCD_TOKEN: ${{ secrets.ARGOCD_TOKEN }}
        run: |
          argocd login $ARGOCD_SERVER --token $ARGOCD_TOKEN --insecure --grpc-web
          argocd app sync my-app
